<!DOCTYPE html>
<html lang="en">

<head>
    <title>bk201 - Weekly trending anime</title>
    <!-- Development Vue. Change in production -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="./assets/particles.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./style/style.css">
</head>

<body class="bg-black m-0 p-0">
    <div id="particles-js"></div>
    <header id="animeSearch" class="bg-white py-3 shadow mb-3 pin-x pin-t fixed">
        <div class="container mx-auto">
            <div class="flex">
                <input type="text" v-model="decodeURI(searchQuery)" placeholder="Input Text Keyword" class="flex-1 bg-grey-lighter focus:bg-white hover:shadow-md focus:shadow-md rounded p-5"
                />
                <button class="ml-3 p-5 bg-green rounded hover:shadow-md text-white hover:bg-green-light" v-on:click="searchRun">Submit</button>
            </div>
        </div>
    </header>
    <div class="container mx-auto">
        <ul id="animeData" class="text-center list-reset mt-20 pt-5">
            <li v-for="entry in animeEntry.data.data" class="inline-block m-1">
                <img v-bind:src="entry.attributes.posterImage.small" v-bind:alt="entry.attributes.titles.en_jp" v-bind:title="entry.attributes.titles.en_jp"
                    class="align-bottom rounded hover:border-blue border-white border-solid border-4 border-white shadow-md" />
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        var defaultSearch = encodeURI('Attack on Titan')
        var animeSearch = new Vue({
            el: '#animeSearch',
            data() {
                return ({
                    searchQuery: defaultSearch
                })
            },
            methods: {
                searchRun: function () {
                    axios
                        .get('https://kitsu.io/api/edge/anime?filter[text]=' + encodeURI(this.searchQuery))
                        .then(response => (animeData.animeEntry = response))
                }
            }
        })
        var animeData = new Vue({
            el: '#animeData',
            data() {
                return ({
                    animeEntry: defaultSearch
                })
            },
            mounted() {
                axios
                    .get('https://kitsu.io/api/edge/anime?filter[text]=' + encodeURI(this.animeEntry))
                    .then(response => (this.animeEntry = response))
            }
        })
        particlesJS.load('particles-js', 'assets/particles.json', function () {
            console.log('callback - particles.js config loaded');
        });
    </script>
</body>

</html>